*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #229987;
  font-weight: 500; }

.square-box {
  border-collapse: collapse;
  border-radius: 2rem;
  position: relative;
  width: 15%;
  overflow: hidden;
  background: #2cae99; }
  @media screen and (max-width: 1250px) {
    .square-box {
      width: 15%; } }

.square-box:before {
  content: "";
  display: block;
  padding-top: 100%; }

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff; }

.square-content div {
  display: table;
  width: 100%;
  height: 100%; }

.square-content span {
  display: table-cell;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #fff; }

.horizontal-top-line {
  display: block;
  border: 0;
  border-top: 2px solid #deeae7;
  margin: 0 auto;
  padding: 0;
  width: 80%; }

.horizontal-bottom-line {
  display: block;
  border: 0;
  border-top: 1px solid #deeae7;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
  width: 100%; }

.horizontal-bottom-line__testimonials {
  display: block;
  border: 0;
  border-top: 1px solid #deeae7;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
  width: 80%; }

.link-span {
  display: table;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #aaa; }

.dutch-translations {
  color: red;
  font-size: 3rem; }

.contact-button {
  width: auto;
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 1rem 3rem;
  background-color: #229987;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase; }
  @media screen and (max-width: 900px) {
    .contact-button {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    .contact-button {
      font-size: 1.6rem; } }

button:hover,
button:focus {
  opacity: 0.75;
  cursor: pointer; }

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px black inset;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset; }

/* Sucees and error messages for contact form */
.success {
  padding: 1em;
  margin-bottom: 0.75em;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.error {
  padding: 1em;
  margin-bottom: 0.75em;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #b94a48;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.field {
  margin: 1em 0; }
  .field-asterisk {
    font-size: 2rem;
    color: red; }

::placeholder {
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  opacity: 0.4; }
  @media screen and (max-width: 900px) {
    ::placeholder {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    ::placeholder {
      font-size: 1.6rem; } }

:placeholder-shown {
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem; }
  @media screen and (max-width: 900px) {
    :placeholder-shown {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    :placeholder-shown {
      font-size: 1.6rem; } }

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #aaa;
  font-family: "Raleway", sans-serif; }

input {
  height: 5rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  border-radius: 3px;
  border: 1px solid #d5d5d5; }
  @media screen and (max-width: 900px) {
    input {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    input {
      font-size: 1.6rem; } }

textarea {
  width: 100%;
  height: 15rem;
  padding: 0.5rem 0.5rem;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  border-radius: 3px;
  border: 1px solid #d5d5d5; }
  @media screen and (max-width: 900px) {
    textarea {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    textarea {
      font-size: 1.6rem; } }

textarea:focus,
input:focus {
  outline: none !important;
  border-color: #229987;
  box-shadow: 0 0 7px #2cae99; }

select#soflow,
select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: 97% center;
  background-repeat: no-repeat;
  outline: none !important;
  border: 1px solid #229987;
  color: #555;
  font-size: inherit;
  margin: 0px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px; }

select option:checked:after {
  background-color: red !important; }

.page-header {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  line-height: 4rem; }
  .page-header-title {
    grid-row: 1 / span 1;
    grid-column: 2 / -2;
    font-size: 5.5rem;
    font-weight: 200;
    letter-spacing: 1.2rem;
    color: #229987;
    text-align: center;
    margin-left: 0.8rem; }
    @media screen and (max-width: 900px) {
      .page-header-title {
        font-size: 5rem; } }
    @media screen and (max-width: 750px) {
      .page-header-title {
        font-size: 4.8rem; } }
    @media screen and (max-width: 700px) {
      .page-header-title {
        font-size: 4.2rem; } }
    @media screen and (max-width: 650px) {
      .page-header-title {
        font-size: 4.1rem; } }
    @media screen and (max-width: 600px) {
      .page-header-title {
        font-size: 3.6rem; } }
    @media screen and (max-width: 500px) {
      .page-header-title {
        font-size: 3rem; } }
  .page-header-sub-title {
    grid-row: 2 / span 1;
    grid-column: 2 / -2;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: #2cae99;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .page-header-sub-title {
        font-size: 2.2rem; } }
    @media screen and (max-width: 750px) {
      .page-header-sub-title {
        font-size: 2.2rem; } }
    @media screen and (max-width: 700px) {
      .page-header-sub-title {
        font-size: 2.2rem; } }
    @media screen and (max-width: 650px) {
      .page-header-sub-title {
        font-size: 2rem; } }
    @media screen and (max-width: 600px) {
      .page-header-sub-title {
        font-size: 1.8rem; } }
    @media screen and (max-width: 500px) {
      .page-header-sub-title {
        font-size: 1.6rem; } }

.navigation {
  height: 10rem; }

.profile {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(autofill, 4, 5vw);
  grid-gap: 3rem; }
  .profile-image-placeholder {
    grid-row: 1 / span 4;
    grid-column: 3 / 5; }
    .profile-image-placeholder__img {
      width: 90%;
      filter: opacity(80%);
      display: block;
      object-fit: cover; }
    @media screen and (max-width: 1450px) {
      .profile-image-placeholder {
        grid-row: 1 / span 4;
        grid-column: 3 / -3; }
        .profile-image-placeholder__img {
          width: 100%;
          filter: opacity(80%);
          display: block;
          object-fit: cover; } }
    @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
      .profile-image-placeholder {
        grid-row: 1 / span 4;
        grid-column: 2/ -2; }
        .profile-image-placeholder__img {
          width: 100%;
          filter: opacity(80%);
          display: block;
          object-fit: cover; } }
  .profile-block {
    border-left: 1px solid #2cae99;
    padding-left: 3rem;
    grid-row: 1 / span 3;
    grid-column: 5/ -3; }
    @media screen and (max-width: 1450px) {
      .profile-block {
        grid-row: 7 / span 3;
        grid-column: 3 / -3; } }
    @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
      .profile-block {
        grid-row: 7 / span 3;
        grid-column: 1 / -2; } }
    .profile-block > p {
      margin-bottom: 1rem;
      text-align: justify; }
    .profile-block-header {
      font-size: 2.7rem;
      font-weight: 300;
      color: #229987;
      text-align: left; }
      @media screen and (max-width: 900px) {
        .profile-block-header {
          font-size: 2.5rem; } }
      @media screen and (max-width: 600px) {
        .profile-block-header {
          font-size: 2.3rem; } }
    .profile-block-header-sub {
      font-size: 2.3rem;
      font-weight: 200;
      color: #2cae99;
      text-align: left;
      margin-bottom: 2rem; }
      @media screen and (max-width: 900px) {
        .profile-block-header-sub {
          font-size: 2.2rem; } }
      @media screen and (max-width: 600px) {
        .profile-block-header-sub {
          font-size: 2.2rem; } }
    .profile-block-indent {
      margin-left: 3rem; }
    .profile-block__section-header {
      font-size: 2.3rem;
      font-weight: 300;
      color: #229987;
      text-align: left; }
      @media screen and (max-width: 900px) {
        .profile-block__section-header {
          font-size: 2.5rem; } }
      @media screen and (max-width: 600px) {
        .profile-block__section-header {
          font-size: 2.3rem; } }
    .profile-block__section-header-sub {
      font-size: 1.8rem;
      font-weight: 400;
      color: #2cae99;
      text-align: left;
      margin-bottom: 2rem;
      margin-left: 3rem; }
      @media screen and (max-width: 900px) {
        .profile-block__section-header-sub {
          font-size: 2.2rem; } }
      @media screen and (max-width: 600px) {
        .profile-block__section-header-sub {
          font-size: 2.2rem; } }
    .profile-block-text {
      color: #aaa;
      font-size: 1.8rem; }
      .profile-block-text li:not(:last-child) {
        margin-bottom: 2px; }
      @media screen and (max-width: 1450px) {
        .profile-block-text {
          border: none;
          padding: none; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .profile-block-text {
          border: none;
          padding: none;
          grid-column: 1 / -2; } }
      @media screen and (max-width: 900px) {
        .profile-block-text {
          font-size: 1.7rem; } }
      @media screen and (max-width: 600px) {
        .profile-block-text {
          font-size: 1.6rem; } }
      .profile-block-text-header {
        color: #229987;
        font-size: 1.8rem;
        font-weight: 500; }
      .profile-block-text__link {
        font-size: 1.6rem; }
    .profile-block-btn {
      grid-row: 3 / span 2;
      grid-column: 5 / 9;
      margin-left: 2.5rem;
      padding-top: 3rem;
      transform: translateX(-3rem); }
      @media screen and (max-width: 1450px) {
        .profile-block-btn {
          grid-row: 5 / span 1;
          grid-column: 3/ -3;
          transform: translateX(0rem);
          margin-left: 0rem; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .profile-block-btn {
          grid-row: 5 / span 1;
          grid-column: 2/ -2;
          transform: translateX(0rem);
          margin-left: 0rem; } }

.btn-contact-me {
  background-image: linear-gradient(to bottom, #deeae7, #229987);
  box-shadow: 5px 5px 15px #6d5d4b;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  color: #fff !important;
  font-size: 1.8rem;
  padding: 1.2rem;
  text-decoration: none;
  width: 14rem;
  height: 5.5rem; }
  @media screen and (max-width: 900px) {
    .btn-contact-me {
      font-size: 1.7rem; } }
  @media screen and (max-width: 600px) {
    .btn-contact-me {
      font-size: 1.6rem; } }

.btn-contact-me:active {
  box-shadow: 0 5px 5px #6d5d4b;
  transform: translateY(10px); }

.image2 {
  display: none; }

@media screen and (max-width: 1450px) {
  .image1 {
    display: none; }
  .image2 {
    display: block; } }

.profile-block-indent ul {
  list-style-type: square;
  list-style-position: inside; }

.services {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(autofit, 4, 5vw);
  grid-gap: 3rem; }
  .services::before {
    content: "";
    background-color: #deeae7;
    grid-column: 7 / span 2;
    grid-row: 5 / span 2; }
  @media screen and (max-width: 1450px) {
    .services::before {
      content: "";
      background-color: white;
      grid-column: 7 / span 2;
      grid-row: 5 / span 2; } }
  .services-header {
    grid-row: 2 / span 1;
    grid-column: 4 / span 4;
    padding-bottom: 3rem;
    font-size: 2.7rem;
    font-weight: 300;
    color: #229987;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .services-header {
        font-size: 2.5rem; } }
    @media screen and (max-width: 600px) {
      .services-header {
        font-size: 2.3rem; } }
  .services-block {
    grid-row: 2 / span 2; }
    .services-block-btn {
      grid-row: 7 / span 2;
      grid-column: 3 / 8;
      margin-left: 2.5rem;
      padding-top: 3rem;
      transform: translateX(-3rem); }
      @media screen and (max-width: 1450px) {
        .services-block-btn {
          grid-row: 7 / span 1;
          grid-column: 3/ -3;
          transform: translateX(0rem);
          margin-left: 0rem; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .services-block-btn {
          grid-row: 7 / span 1;
          grid-column: 2/ -2;
          transform: translateX(0rem);
          margin-left: 0rem; } }
    .services-block-text {
      grid-row: 5 / span 2;
      grid-column: 3 / -5;
      border-left: 1px solid #2cae99;
      padding-left: 3rem;
      color: #aaa;
      font-size: 1.8rem; }
      @media screen and (max-width: 1450px) {
        .services-block-text {
          grid-column: 3 / -3; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .services-block-text {
          grid-column: 1 / -2;
          border: none;
          padding: none; } }
      @media screen and (max-width: 900px) {
        .services-block-text {
          font-size: 1.7rem; } }
      @media screen and (max-width: 600px) {
        .services-block-text {
          font-size: 1.6rem; } }
      .services-block-text > p {
        margin-bottom: 1rem;
        text-align: justify; }
    .services-block-headers {
      grid-row: 3 / span 2;
      grid-column: 3 / -2; }
      @media screen and (max-width: 1650px) {
        .services-block-headers {
          grid-column: 3 / -3; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .services-block-headers {
          grid-column: 1 / -2; } }
      @media screen and (max-width: 900px) {
        .services-block-headers {
          grid-row: 2 / span 2;
          grid-column: 3 / 8; } }
      @media screen and (max-width: 500px) {
        .services-block-headers {
          grid-row: 2 / span 2;
          grid-column: 3 / -1; } }
      .services-block-headers-header {
        font-size: 2.3rem;
        font-weight: 300;
        color: #229987;
        text-align: left; }
        @media screen and (max-width: 900px) {
          .services-block-headers-header {
            font-size: 2.1rem; } }
        @media screen and (max-width: 600px) {
          .services-block-headers-header {
            font-size: 2rem; } }
      .services-block-headers-header-sub {
        font-size: 1.8rem;
        font-weight: 200;
        color: #2cae99;
        text-align: left;
        margin-bottom: 0rem; }
        @media screen and (max-width: 900px) {
          .services-block-headers-header-sub {
            font-size: 1.7rem; } }
        @media screen and (max-width: 600px) {
          .services-block-headers-header-sub {
            font-size: 1.6rem; } }
  .services-block2 {
    grid-row: 2 / span 2;
    grid-column: 6 / span 4; }
    .services-block2 > p {
      margin-bottom: 1rem;
      text-align: justify; }
    .services-block2-header {
      font-size: 2.3rem;
      font-weight: 300;
      color: #229987;
      text-align: left; }
    .services-block2-header-sub {
      font-size: 1.8rem;
      font-weight: 200;
      color: #2cae99;
      text-align: left;
      margin-bottom: 0rem; }
    .services-block2-text {
      color: #aaa;
      font-size: 1.8rem; }

.mywork {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(autofill, 10, 5vw);
  grid-gap: 5rem; }
  .mywork-headers {
    grid-row: 1 / span 1;
    grid-column: 3 / -3; }
    @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
      .mywork-headers {
        grid-column: 1 / -2; } }
    @media screen and (max-width: 1200px) {
      .mywork-headers {
        grid-column: 2 / -2; } }
    @media screen and (max-width: 600px) {
      .mywork-headers {
        grid-column: 1 / -1; } }
  .mywork-header {
    font-size: 2.7rem;
    font-weight: 300;
    color: #229987;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .mywork-header {
        font-size: 2.5rem; } }
    @media screen and (max-width: 600px) {
      .mywork-header {
        font-size: 2.3rem; } }
  .mywork-header-sub {
    font-size: 2.3rem;
    font-weight: 300;
    color: #2cae99;
    text-align: center;
    margin-bottom: 2rem; }
    @media screen and (max-width: 900px) {
      .mywork-header-sub {
        font-size: 2.2rem; } }
    @media screen and (max-width: 600px) {
      .mywork-header-sub {
        font-size: 2.2rem; } }
  .mywork__text-block {
    padding-left: 2rem;
    color: #aaa;
    font-size: 1.8rem; }
  .mywork-grpBlocks {
    grid-row: 3 / span 2;
    grid-column: 3 /-3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 1600px) {
      .mywork-grpBlocks {
        grid-column: 3 /-3; } }
    @media screen and (max-width: 1150px) {
      .mywork-grpBlocks {
        grid-column: 3 /-3; } }
    .mywork-grpBlocks-grpBlock {
      flex: 0 1 30%;
      display: flex;
      flex-direction: column;
      position: relative;
      border: solid 1px #deeae7;
      padding: 2rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      justify-content: flex-start;
      margin-right: 3rem; }
      @media screen and (max-width: 1700px) {
        .mywork-grpBlocks-grpBlock {
          flex: 0 1 40%;
          flex-direction: column; } }
      @media screen and (max-width: 1350px) {
        .mywork-grpBlocks-grpBlock {
          flex: 0 1 95%;
          flex-direction: row; } }
      @media screen and (max-width: 1150px) {
        .mywork-grpBlocks-grpBlock {
          flex: 0 1 50%;
          flex-grow: 1;
          flex-direction: column; } }
      .mywork-grpBlocks-grpBlock__image {
        max-width: 700px;
        margin-bottom: 5rem; }
        .mywork-grpBlocks-grpBlock__image-img {
          width: 100%;
          display: block; }
        .mywork-grpBlocks-grpBlock__image-img1 {
          width: 50%;
          display: block; }
          @media screen and (max-width: 1700px) {
            .mywork-grpBlocks-grpBlock__image-img1 {
              width: 35%; } }
          @media screen and (max-width: 1350px) {
            .mywork-grpBlocks-grpBlock__image-img1 {
              width: 70%; } }
          @media screen and (max-width: 1150px) {
            .mywork-grpBlocks-grpBlock__image-img1 {
              width: 25%; } }
          @media screen and (max-width: 900px) {
            .mywork-grpBlocks-grpBlock__image-img1 {
              width: 30%; } }
          @media screen and (max-width: 700px) {
            .mywork-grpBlocks-grpBlock__image-img1 {
              width: 40%; } }
      .mywork-grpBlocks-grpBlock-block {
        width: 99%;
        margin-bottom: 5rem; }
        .mywork-grpBlocks-grpBlock-block__header {
          font-size: 2rem;
          font-size: 1.9rem;
          font-weight: 300;
          color: #229987;
          text-align: left; }
          @media screen and (max-width: 900px) {
            .mywork-grpBlocks-grpBlock-block__header {
              font-size: 2.1rem; } }
          @media screen and (max-width: 600px) {
            .mywork-grpBlocks-grpBlock-block__header {
              font-size: 2rem; } }
        @media screen and (max-width: 1800px) {
          .mywork-grpBlocks-grpBlock-block {
            margin-left: 0rem; } }
        @media screen and (max-width: 1350px) {
          .mywork-grpBlocks-grpBlock-block {
            margin-left: 3rem; } }
        @media screen and (max-width: 1150px) {
          .mywork-grpBlocks-grpBlock-block {
            margin-left: 0; } }
        .mywork-grpBlocks-grpBlock-block__header-sub {
          font-size: 1.6rem;
          font-weight: 200;
          color: #2cae99;
          text-align: left; }
          @media screen and (max-width: 900px) {
            .mywork-grpBlocks-grpBlock-block__header-sub {
              font-size: 1.7rem; } }
          @media screen and (max-width: 600px) {
            .mywork-grpBlocks-grpBlock-block__header-sub {
              font-size: 1.6rem; } }
        .mywork-grpBlocks-grpBlock-block-text {
          margin-bottom: 3rem;
          color: #aaa;
          font-size: 1.7rem; }
          @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
            .mywork-grpBlocks-grpBlock-block-text {
              border: none;
              padding: none; } }
          @media screen and (max-width: 900px) {
            .mywork-grpBlocks-grpBlock-block-text {
              font-size: 1.7rem; } }
          @media screen and (max-width: 600px) {
            .mywork-grpBlocks-grpBlock-block-text {
              font-size: 1.6rem; } }

ul {
  list-style: none; }

.buttons {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
  width: 88%; }

.btn {
  background-color: #2cae99;
  border: none;
  color: white;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px; }

.btn-left {
  width: 48%; }

.btn-right {
  width: 48%; }

a.btn-left {
  border-style: solid;
  border-width: 1px;
  border-color: #2cae99;
  color: white; }

a.btn-left:hover {
  border-color: #229987;
  border-width: 1px;
  background-color: #229987; }

a.btn-right {
  border-style: solid;
  border-width: 1px;
  border-color: #2cae99;
  color: white; }

a.btn-right:hover {
  border-color: #229987;
  border-width: 1px;
  background-color: #229987; }

.flag-menu {
  list-style: none;
  margin: 2rem 16.5% -5rem 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; }
  .flag-menu__item {
    margin-left: 1rem; }
    .flag-menu__item > a > img {
      width: 85%; }

.navigator-menu {
  list-style: none;
  margin: 0 0 5rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 7rem; }

.navigator-menu__item {
  flex: 7rem 0 10rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #aaa;
  border: solid 1px #efefef;
  border-radius: 5px;
  margin: 0.3rem;
  margin-left: 0.5;
  margin-top: 1rem;
  background-image: linear-gradient(to bottom, transparent 50%, #deeae7 60%, #deeae7 96%, #2cae99 96%);
  background-size: 100% 200%;
  background-position: top center;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out; }
  @media screen and (max-width: 900px) {
    .navigator-menu__item {
      font-size: 1.8rem; } }
  @media screen and (max-width: 750px) {
    .navigator-menu__item {
      font-size: 1.6rem; } }
  @media screen and (max-width: 600px) {
    .navigator-menu__item {
      font-size: 1.4rem; } }
  @media screen and (max-width: 450px) {
    .navigator-menu__item {
      font-size: 1.3rem; } }
  .navigator-menu__item:hover {
    background-position: bottom center;
    color: rgba(0, 0, 0, 0.75); }
  .navigator-menu__item a {
    color: #aaa;
    display: block;
    padding: 1rem 0;
    transition: all 0.25s ease-in-out; }

#home,
#about,
#services,
#portfolio,
#testimonials,
#contact,
#hire,
#training {
  background: #2cae99; }
  #home a,
  #about a,
  #services a,
  #portfolio a,
  #testimonials a,
  #contact a,
  #hire a,
  #training a {
    color: #fff; }

.navigator {
  margin-top: 5rem;
  display: flex;
  justify-content: center; }
  .navigator ul {
    display: flex; }
    .navigator ul a {
      padding: 1rem 2rem; }
      @media screen and (max-width: 900px) {
        .navigator ul a {
          padding: 1rem 2rem; } }
      @media screen and (max-width: 700px) {
        .navigator ul a {
          padding: 1rem 1.5rem; } }
      @media screen and (max-width: 600px) {
        .navigator ul a {
          padding: 1rem 1rem; } }
      @media screen and (max-width: 500px) {
        .navigator ul a {
          padding: 1rem 0.5rem; } }
  .navigator-menu__item {
    text-transform: uppercase; }

.active {
  background: red; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(autofit, 3, 5vw);
  grid-gap: 3rem; }
  .testimonials-headers {
    grid-row: 1 / span 1;
    grid-column: 4 / -4; }
    @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
      .testimonials-headers {
        grid-column: -1 / -2; } }
    @media screen and (max-width: 1200px) {
      .testimonials-headers {
        grid-column: 2 / -2; } }
    @media screen and (max-width: 600px) {
      .testimonials-headers {
        grid-column: 1 / -1; } }
    .testimonials-headers-header {
      font-size: 2.7rem;
      font-weight: 300;
      color: #229987;
      text-align: center; }
      @media screen and (max-width: 900px) {
        .testimonials-headers-header {
          font-size: 2.5rem; } }
      @media screen and (max-width: 600px) {
        .testimonials-headers-header {
          font-size: 2.3rem; } }
    .testimonials-headers-header-sub {
      font-size: 2.3rem;
      font-weight: 300;
      color: #2cae99;
      text-align: center;
      margin-bottom: 2rem; }
      @media screen and (max-width: 900px) {
        .testimonials-headers-header-sub {
          font-size: 2.2rem; } }
      @media screen and (max-width: 600px) {
        .testimonials-headers-header-sub {
          font-size: 2.2rem; } }
  .testimonials-blocks {
    grid-row: 3 / span 1;
    grid-column: 4 / -4; }
    @media screen and (max-width: 1950px) {
      .testimonials-blocks {
        grid-column: 3 / -3; } }
    @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
      .testimonials-blocks {
        grid-column: -1 / -2; } }
    @media screen and (max-width: 1200px) {
      .testimonials-blocks {
        grid-column: 2 / -2; } }
    @media screen and (max-width: 900px) {
      .testimonials-blocks {
        grid-column: 1 / -1; } }
    @media screen and (max-width: 600px) {
      .testimonials-blocks {
        grid-column: 1 / -1; } }
    .testimonials-blocks-blockquote {
      border-left: 3px solid #2cae99;
      margin-left: 5rem;
      margin-bottom: 2.5rem; }
      .testimonials-blocks-blockquote__quotation {
        quotes: "\201C" "\201D" "\2018" "\2019";
        padding: 10px 20px;
        line-height: 1.4;
        color: #aaa;
        font-size: 1.8rem; }
        @media screen and (max-width: 900px) {
          .testimonials-blocks-blockquote__quotation {
            font-size: 1.7rem; } }
        @media screen and (max-width: 600px) {
          .testimonials-blocks-blockquote__quotation {
            font-size: 1.6rem; } }
        .testimonials-blocks-blockquote__quotation:before {
          content: open-quote;
          display: inline;
          line-height: 0;
          left: -10px;
          position: relative;
          top: 45px;
          color: #2cae99;
          font-size: 10rem; }
        .testimonials-blocks-blockquote__quotation::after {
          content: close-quote;
          display: inline;
          line-height: 0;
          left: 10px;
          position: relative;
          top: 35px;
          color: #2cae99;
          font-size: 10rem;
          vertical-align: text-top; }
      .testimonials-blocks-blockquote__footer {
        margin: 0;
        padding-right: 10rem;
        text-align: right;
        font-style: italic;
        color: #aaa;
        font-size: 1.7rem; }

.contact-us {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(autofill, 7, 5vw);
  grid-gap: 2.5rem;
  position: relative;
  top: 0rem; }
  .contact-us__item {
    position: relative; }
    .contact-us__item--1 {
      grid-row: 1 / span 1;
      grid-column: 6 / span 8; }
      @media screen and (max-width: 900px) {
        .contact-us__item--1 {
          grid-column: 2 / -2; } }
    .contact-us__item--2 {
      grid-row: 4 / span 1;
      grid-column: 6 / span 8; }
      @media screen and (max-width: 1200px) {
        .contact-us__item--2 {
          grid-column: 5 / -5; } }
      @media screen and (max-width: 900px) {
        .contact-us__item--2 {
          grid-column: 2 / -3; } }
  .contact-us__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .contact-us__text {
    column-count: 1;
    column-gap: 3rem;
    color: #aaa;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem; }
    @media screen and (max-width: 900px) {
      .contact-us__text {
        font-size: 1.7rem; } }
    @media screen and (max-width: 600px) {
      .contact-us__text {
        font-size: 1.6rem; } }
    .contact-us__text > p {
      margin-bottom: 1rem;
      text-align: justify; }
    .contact-us__text > h2 {
      margin-top: 2rem;
      font-family: "Raleway", sans-serif;
      color: #aaa;
      font-size: 2.5rem;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .contact-us__text > h2 {
          font-size: 2.3rem; } }
      @media screen and (max-width: 600px) {
        .contact-us__text > h2 {
          font-size: 2.1rem; } }
  .contact-us__text-header {
    column-count: 1;
    column-gap: 3rem;
    font-family: "Raleway", sans-serif; }
    .contact-us__text-header > h3 {
      color: #2cae99;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .contact-us__text-header > h3 {
          font-size: 2.3rem; } }
      @media screen and (max-width: 600px) {
        .contact-us__text-header > h3 {
          font-size: 2.1rem; } }
    .contact-us__text-header > h2 {
      color: #229987;
      font-family: "Raleway", sans-serif;
      font-size: 2.7rem;
      text-align: center;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .contact-us__text-header > h2 {
          font-size: 2.5rem; } }
      @media screen and (max-width: 600px) {
        .contact-us__text-header > h2 {
          font-size: 2.3rem; } }

.hire-me {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(autofill, 7, 5vw);
  grid-gap: 2.5rem;
  position: relative;
  top: 0rem; }
  .hire-me__item {
    position: relative; }
    .hire-me__item--1 {
      grid-row: 1 / span 1;
      grid-column: 6 / span 8; }
      @media screen and (max-width: 900px) {
        .hire-me__item--1 {
          grid-column: 2 / -2; } }
    .hire-me__item--2 {
      grid-row: 4 / span 1;
      grid-column: 6 / span 8; }
      @media screen and (max-width: 1200px) {
        .hire-me__item--2 {
          grid-column: 4 / -4; } }
      @media screen and (max-width: 900px) {
        .hire-me__item--2 {
          grid-column: 2 / -3; } }
  .hire-me__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .hire-me__text {
    column-count: 1;
    column-gap: 3rem;
    color: #aaa;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem; }
    @media screen and (max-width: 900px) {
      .hire-me__text {
        font-size: 1.7rem; } }
    @media screen and (max-width: 600px) {
      .hire-me__text {
        font-size: 1.6rem; } }
    .hire-me__text > p {
      margin-bottom: 3rem;
      text-align: justify; }
    .hire-me__text > h2 {
      margin-top: 1.8rem;
      font-family: "Raleway", sans-serif;
      color: #aaa;
      font-size: 2.5rem;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .hire-me__text > h2 {
          font-size: 2.3rem; } }
      @media screen and (max-width: 600px) {
        .hire-me__text > h2 {
          font-size: 2.1rem; } }
  .hire-me__text-header {
    column-count: 1;
    column-gap: 3rem;
    font-family: "Raleway", sans-serif; }
    .hire-me__text-header > h3 {
      color: #2cae99;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .hire-me__text-header > h3 {
          font-size: 2.3rem; } }
      @media screen and (max-width: 600px) {
        .hire-me__text-header > h3 {
          font-size: 2.1rem; } }
    .hire-me__text-header > h2 {
      color: #229987;
      font-family: "Raleway", sans-serif;
      font-size: 2.7rem;
      text-align: center;
      font-weight: 300; }
      @media screen and (max-width: 900px) {
        .hire-me__text-header > h2 {
          font-size: 2.5rem; } }
      @media screen and (max-width: 600px) {
        .hire-me__text-header > h2 {
          font-size: 2.3rem; } }

.training-container {
  grid-column: main-start / main-end;
  padding-top: 0rem;
  display: grid;
  grid-template-columns: repeat(17, 1fr); }
  .training-container__header {
    grid-column: 1 / 18;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4rem;
    padding: 0.3rem;
    padding-left: 0rem;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    background-color: #229987; }
    @media screen and (max-width: 1200px) {
      .training-container__header {
        font-size: 1.8rem;
        padding: 0.2rem;
        padding-left: 3rem; } }
  .training-container__body {
    padding: 5rem;
    padding-top: 3rem;
    grid-column: 5 / 15;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #aaa;
    font-size: 1.3rem; }
    @media screen and (max-width: 1200px) {
      .training-container__body {
        grid-column: 2 / 17; } }
    .training-container__body__table {
      display: block;
      height: 75vh;
      overflow-y: scroll;
      overflow: auto;
      border-collapse: separate;
      border-spacing: 0; }
      .training-container__body__table th,
      .training-container__body__table td {
        padding: 1rem 1.5rem;
        vertical-align: middle; }
      .training-container__body__table td:nth-of-type(4) {
        display: none; }
      .training-container__body__table thead {
        background-color: #229987;
        color: #fff;
        text-transform: uppercase; }
      .training-container__body__table th:nth-of-type(4) {
        display: none; }
      .training-container__body__table th.sticky-header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #229987; }
      .training-container__body__table th:first-child {
        border-top-left-radius: 3px;
        text-align: left; }
      .training-container__body__table th:last-child {
        border-top-right-radius: 3px; }
      .training-container__body__table tbody tr:nth-child(even) {
        background: #e3e7ea; }
      .training-container__body__table td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5; }
      .training-container__body__table td:first-child {
        border-left: 1px solid #cecfd5; }

.footer {
  background-color: #2f4f4f;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(autofill, 7, 5vw);
  grid-gap: 1rem;
  margin-top: 5rem;
  padding-top: 8rem;
  padding-bottom: 5rem; }
  .footer__col-header {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #fff; }
  .footer__email-text {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 4rem;
    text-align: left; }
  .footer-col-1 {
    grid-row: 1 / span 1;
    grid-column: 2 / 6; }
    @media screen and (max-width: 900px) {
      .footer-col-1 {
        grid-row: 1 / span 1;
        grid-column: 2 / 8; } }
    @media screen and (max-width: 650px) {
      .footer-col-1 {
        grid-row: 1 / span 1;
        grid-column: 3 / -3; } }
    .footer-col-1-text {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 1.4rem;
      margin-bottom: 3rem;
      text-align: justify; }
  .footer-col-2 {
    grid-row: 1 / span 1;
    grid-column: 7 / 10; }
    @media screen and (max-width: 900px) {
      .footer-col-2 {
        grid-row: 2 / span 1;
        grid-column: 2 / 6; } }
    @media screen and (max-width: 650px) {
      .footer-col-2 {
        grid-row: 2 / span 1;
        grid-column: 3 / -1; } }
  .footer-col-3 {
    grid-row: 1 / span 1;
    grid-column: 11 / -1; }
    @media screen and (max-width: 900px) {
      .footer-col-3 {
        grid-row: 1 / span 1;
        grid-column: 9 / -1; } }
    @media screen and (max-width: 650px) {
      .footer-col-3 {
        grid-row: 5 / span 1;
        grid-column: 3 / -1; } }
  .footer-row-2 {
    grid-row: 2 / span 1;
    grid-column: 6 / 10; }
    @media screen and (max-width: 900px) {
      .footer-row-2 {
        grid-row: 3 / span 1;
        grid-column: 6 / 11; } }
    @media screen and (max-width: 900px) {
      .footer-row-2 {
        grid-row: 6 / span 1;
        grid-column: 2 / 11; } }

.nav-footer {
  list-style: none; }
  .nav-footer__link-text {
    text-transform: lowercase;
    padding-left: 0.5rem; }
  .nav-footer__link:link, .nav-footer__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding: 0rem 0 1rem 0;
    display: block; }
  .nav-footer__item-text {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    text-align: justify;
    text-transform: initial; }

.copyright {
  font-size: 1.4rem;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.social-media-icon {
  position: relative;
  top: 7px;
  left: 2px; }

.blogio {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(autofit, 2, 5vw);
  grid-gap: 3rem; }
  .blogio-header {
    grid-row: 2 / span 1;
    grid-column: 4 / span 4;
    padding-bottom: 3rem;
    font-size: 2.7rem;
    font-weight: 300;
    color: #229987;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .blogio-header {
        font-size: 2.5rem; } }
    @media screen and (max-width: 600px) {
      .blogio-header {
        font-size: 2.3rem; } }
  .blogio-block {
    grid-row: 2 / span 2; }
    .blogio-block-text {
      grid-row: 5 / span 2;
      grid-column: 3 / -5;
      border-left: 1px solid #2cae99;
      padding-left: 3rem;
      color: #aaa;
      font-size: 1.8rem; }
      @media screen and (max-width: 1450px) {
        .blogio-block-text {
          grid-column: 3 / -3; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .blogio-block-text {
          grid-column: 1 / -2;
          border: none;
          padding: none; } }
      @media screen and (max-width: 900px) {
        .blogio-block-text {
          font-size: 1.7rem; } }
      @media screen and (max-width: 600px) {
        .blogio-block-text {
          font-size: 1.6rem; } }
      .blogio-block-text > p {
        margin-bottom: 1rem;
        text-align: justify; }
    .blogio-block-headers {
      grid-row: 3 / span 2;
      grid-column: 3 / -3; }
      @media screen and (max-width: 1650px) {
        .blogio-block-headers {
          grid-column: 3 / -3; } }
      @media screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 3) {
        .blogio-block-headers {
          grid-column: 1 / -2; } }
      @media screen and (max-width: 900px) {
        .blogio-block-headers {
          grid-row: 2 / span 2;
          grid-column: 3 / 8; } }
      @media screen and (max-width: 500px) {
        .blogio-block-headers {
          grid-row: 2 / span 2;
          grid-column: 3 / -1; } }
      .blogio-block-headers-header {
        font-size: 2.3rem;
        font-weight: 300;
        color: #229987;
        text-align: left; }
        @media screen and (max-width: 900px) {
          .blogio-block-headers-header {
            font-size: 2.1rem; } }
        @media screen and (max-width: 600px) {
          .blogio-block-headers-header {
            font-size: 2rem; } }
      .blogio-block-headers-header-sub {
        font-size: 1.8rem;
        font-weight: 200;
        color: #2cae99;
        text-align: left;
        margin-bottom: 0rem; }
        @media screen and (max-width: 900px) {
          .blogio-block-headers-header-sub {
            font-size: 1.7rem; } }
        @media screen and (max-width: 600px) {
          .blogio-block-headers-header-sub {
            font-size: 1.6rem; } }
  .blogio-block2 {
    grid-row: 2 / span 2;
    grid-column: 6 / span 4; }
    .blogio-block2 > p {
      margin-bottom: 1rem;
      text-align: justify; }
    .blogio-block2-header {
      font-size: 2.3rem;
      font-weight: 300;
      color: #229987;
      text-align: left; }
    .blogio-block2-header-sub {
      font-size: 1.8rem;
      font-weight: 200;
      color: #2cae99;
      text-align: left;
      margin-bottom: 0rem; }
    .blogio-block2-text {
      color: #aaa;
      font-size: 1.8rem; }
