.contact-us {
  //background-color: $color-grey-light-1;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(autofill, 7, 5vw);

  grid-gap: 2.5rem;
  // padding: 2.5rem;
  position: relative;
  top: 0rem;

  &__item {
    position: relative;

    &--1 {
      grid-row: 1 / span 1;
      grid-column: 6 / span 8;

      @media screen and (max-width: 900px) {
        grid-column: 2 / -2;
      }
    }

    &--2 {
      grid-row: 4 / span 1;
      grid-column: 6 / span 8;

      @media screen and (max-width: 1200px) {
        grid-column: 5 / -5;
      }

      @media screen and (max-width: 900px) {
        grid-column: 2 / -3;
      }
    }
  }

  &__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__text {
    column-count: 1;
    column-gap: 3rem;
    color: $color-grey-light-2;
    font-family: $font-display-1;
    font-size: $font-size-body-L;

    @media screen and (max-width: 900px) {
      font-size: $font-size-body-M;
    }

    @media screen and (max-width: 600px) {
      font-size: $font-size-body-S;
    }

    & > p {
      margin-bottom: 1rem;
      text-align: justify;
    }

    & > h2 {
      margin-top: 2rem;
      font-family: $font-display-1;
      color: $color-grey-light-2;
      font-size: $font-size-sub-header-L;
      font-weight: 300;

      @media screen and (max-width: 900px) {
        font-size: $font-size-sub-header-M;
      }

      @media screen and (max-width: 600px) {
        font-size: $font-size-sub-header-S;
      }
    }
  }

  &__text-header {
    column-count: 1;
    column-gap: 3rem;

    font-family: $font-display-1;
    // font-size: 1.6rem;

    & > h3 {
      color: $color-green-medium;
      margin-bottom: 1rem;
      text-align: center;
      font-size: $font-size-sub-header-L;
      font-weight: 300;

      @media screen and (max-width: 900px) {
        font-size: $font-size-sub-header-M;
      }

      @media screen and (max-width: 600px) {
        font-size: $font-size-sub-header-S;
      }
    }

    & > h2 {
      color: $color-green-dark;
      font-family: $font-display-1;
      font-size: $font-size-main-header-L;
      text-align: center;
      font-weight: 300;

      @media screen and (max-width: 900px) {
        font-size: $font-size-main-header-M;
      }

      @media screen and (max-width: 600px) {
        font-size: $font-size-main-header-S;
      }
    }
  }
}
